<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="PiServer" value="PiServer8" />
    <add key="ApplicationId" value="" />
    <add key="SenderId" value="" />
    <add key="Receiver" value="" />
    <add key="FCMURL" value="" />
    <add key="ClickAction" value="" />
    <add key="Icon" value="" />
    <add key="AzureConnectionString" value="Server=tcp:sqlserverlihbzibx42jhi.database.windows.net,1433;Initial Catalog=TestCase1;Persist Security Info=False;User ID=piadmin;Password=Micr0s0ft12!@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
    <add key="BlobStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mlstrlihbzibx42jhi;AccountKey=pT+edpY9+AulSro6IRpRdQgFQp/r/Ty4SdtAFqOLTVJFcTLLH9bQCvFjmkVlfHDbZI7ySS+tlXjRAVmslukfFg==;EndpointSuffix=core.windows.net"/>
    <add key="BlobContainerName" value="general"/></appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>