<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="PiServer" value="PiServer1" />
    <add key="AzureConnectionString" value="Server=tcp:mspowergrid.database.windows.net,1433;Initial Catalog=energymanagement;Persist Security Info=False;User ID=piadmin;Password=Micr0s0ft12!@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mseastus;AccountKey=soqNhHi+qQDwJIjXAD9fAQR5EXpH4CA6oCXLpX7aCVDdlO+AfvjLh5w/rkXaKFq/ZfF+etn1ViV8TiZGS8PyDQ==;EndpointSuffix=core.windows.net" />
    <add key="PiServerConnectionString" value="data source=TEMPSQLSERVERVM\SQLEXPRESS;initial catalog=PIEMView;persist security info=True;user id=dataservice;password=dataservice" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>